<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}

    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row container">
                <p><br><br></p>
                <div class="intro-text" style="bottom: 0;" >
                    <!-- <div class="intro-heading">Our Wedding<br></div> -->
                    <div class="intro-lead-in">11-4-2020</div>
                    <a href="#location" class="page-scroll btn btn-xl" style="float: left;" >Location</a>
                </div>
            </div>
        </div>
    </header>
    {% include 2020_data/location.html %}
    {% include 2020_data/footer.html %}
    {% include 2020_data/js.html %}

    </body>
</html>
