<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index">

    {% include 2016_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Wellcome Home<br></div>
                <div class="intro-lead-in">8-3-2020</div>
                <a href="#intro" class="page-scroll btn btn-xl">Location</a>
            </div>
        </div>
    </header>
    {% include 2020_data/location.html %}
    {% include 2020_data/footer.html %}
    {% include 2020_data/js.html %}

    </body>
</html>
